body {
	width: 100%;
	height: 100%;
}

div {
	color: red;
}

table {
	display: block;
	max-height: 40em;
	max-width: 90%;
	overflow: scroll;
	border-collapse: collapse;
}

td, th {
	min-width: 1.5em;
	text-align: right;
}

th {
	color: white;
	background-color: black;
}

td {
	border-style: solid;
	border-color: black;
}